repos:
  - repo: builtin
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        language: system
        entry: /opt/homebrew/bin/node node_modules/.bin/eslint --fix
        types_or: [javascript, jsx, ts, tsx]

      - id: prettier
        name: prettier
        language: system
        entry: /opt/homebrew/bin/node node_modules/.bin/prettier --write --ignore-unknown
        types_or: [javascript, jsx, ts, tsx, css, json, markdown, mdx]
